.popup, .popup-container{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.popup-container{
    background: rgba(49,49,49,0.8);
}

.popup-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f6eee0;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.closepopup{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}


.card-container{
    margin-top: 20px;
}



.view-container {
    text-align: center;
    padding: 20px;
  }

  h2 {
    margin-bottom: 20px;
    font-family: 'Dancing Script', sans-serif;
  }
  .h2-text{
    font-size: 60px;
    color: #a45c40;
  }

  .card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }



  .card-title {
    color: #a45c40;
    font-weight: bold;
  }

  .card {
    background-color: #f6eee0;
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card-text {
    color: #c38370;
    font-size: 1rem;
  }

  button {
    background-color: #a45c40 !important;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #c38370 !important;
  }